#container {
    position: relative;
}

#ball {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 50% 50%, #ff4d4d, #d90000);
    position: fixed;
    top: 20px;
    left: 50%;
    border-radius: 50%;
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


 #rod1, #rod2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}
#rod1, #rod2 {
    width: 300px;
    height: 30px;
    position: fixed;
    left: 50%;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, #3498db, #2980b9, #3498db);
    border: 2px solid #020507;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}



#rod1 {
    background: linear-gradient(90deg, #e950c3, #dc535f, #fb20a7);

    top: 0px;    
}

#rod2 {
    background: linear-gradient(90deg, #dbbf34, #29b993, #3498db);
    bottom: 0px;
} 


